

/************************** CSS for Layout Template or General CSS for all Templates**********************/
* {
    box-sizing: border-box;
}

html{
  background-color: #212C38;
}
body{
    margin-top: 0;
    background-color: #212C38;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
}


.paragraph_space {
     padding: 0 12%;
     text-align: center;
     font-family: Impact,sans-serif!important;
     font-size: 1.3rem;
}


.header_space_grid{
     justify-content: center;
     text-align: center;
     line-height: 1.9rem;
     font-family: Impact,sans-serif!important;
     margin-bottom: 0;


}

.title_orange{
  color: #F6672E;
}



.title_darkblue{
  color: #3A537C;
}

.white_text{
    color: white;
    
}
.h-center {
     justify-content: space-around;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 30%;
     transform: translateY(-50%);
}


.v-center  span{
    text-align: center;
}

.grey_border{
         border-right: 4px solid #f2f3ee;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 1;
}
.wrapper {
    -o-transition: .45s;
    -moz-transition: .45s;
    -webkit-transition: .45s;
    transition: .45s;
}

.wrapper.open {

    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);

}



/********************************NAViGATION*******************************/

.nav-bar {
    position: fixed;

    background-color: #000;
    height: 40px;
    /*width: 1200px;*/

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 999;



}

.hamburger {
    background: transparent;
    color: #fff;
    transition: all 0.4s;

}

.hamburger-box {
    opacity: 1;
    transition: opacity 0.4s;
    width:100%;
    height: 100%;
    padding-top: 30px;
}

.hamburger:hover {
    color: #f0f0f0;
    background: #000;
}

.hamburger:hover.hamburger-box {
    opacity: 0.7;
}

.company-name {
    display: inline-block;
}
a.company-name {
    margin-left: 10px;
    line-height: 43px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
    font-family: "Bookman Old Style";
}

.company-name:hover {
    color: #eee;
    /*text-decoration: underline;*/
}

.page-login{
    padding-left: 800px;
}


.logo{
    float: left;
    /*position: absolute;*/
    display: inline-block;
    height: 60px;
    width: 60px;

    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-right: 1px solid rgba(0,0,0,0.05);
    /*border-left: 1px solid rgba(0,0,0,0.05);*/
}
.page-title {
    display: inline;
}


.menu-button-wrapper {
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu-open {

    width: 40px;
    height: 40px;
    padding: 10px;
    float: left;
    color: #fff;
    cursor: pointer;
    overflow: hidden;

}

.nav-panel {

    position: fixed;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #212C38;;
    text-align: right;
    z-index: auto;
    /*border-right: 1px solid #d9d9d9;*/
}

.nav-panel ul {
    display: none;
    padding-right: 30px;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
    z-index: 0;

}
.nav-panel ul .show-nav{
    display: block;
}



.nav-panel li{
    margin-bottom: 1rem;

}


.nav-panel a {
    font-size: 1.5rem;
    line-height: 1.5;
    text-decoration: none;
    color: #F6672E;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.2s;
    font-style: normal;
    font-family: Varela,sans-serif!important;
    z-index: 0;
}

.nav-panel a:hover {
    text-decoration: none;
    color: #FFB200;
    border-bottom: 1px solid #FFB200;
}




.nav-panel a {
    position: relative;
    opacity: 1;
    transition: all 0.2s;
    z-index: 0;
    cursor: pointer !important;
}

.nav-panel.is-active a {
    opacity: 1; /*transform: translateX(0);*/
    z-index: 0;

}

.nav-panel.is-active {

    border-right: 1px solid #d9d9d9;
    z-index: 0;
}


/*********************************************** CSS for HOME PAGE ************************************************/


.home-grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 600px);
  grid-gap: 5px;
  color: #444;
  background-color: #212C38;
}

.box {
  background-color: #212C38;
  color: #fff;
  font-size: 150%;
}

.box {
  background-color: #212C38;
  color: #fff;
  font-size: 150%;
}

.a {
    grid-column: 1 / -1;
    grid-row: 1;
}

/* .b {
    grid-column: 1 / span 2;
    grid-row: 2;


}
.c {
    grid-column: 3 / span 2 ;
    grid-row: 2;
} */

.hero {
position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    justify-content: center;
}


.hero-overlay.center-v {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-overlay :first-child.box {
    margin-left: 3%;
}
.hero-overlay .box {
    display: block;
    position: relative;
    width: 25%;
    color: #fff;
    background-color: #212C38;
    padding:15%;
    margin-right: 1%;
    margin-top: 5%;
    float: left;
    overflow: visible;
    transition: all 0.5s ease;
}

.hero-overlay .box .responsive-height-content {
    width: 90%;
    overflow: hidden;
}
.hero-overlay .box .responsive-img {
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.hero-overlay .box .border {
    border: solid 8px #B7AEAC;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 5%;
}
.hero-overlay .box .box-content {
    position: absolute;
    bottom: 10%;
    transition: all 0.5s ease;
    font-size: 4rem;
    text-align: center;
}

.hero-overlay .box .box-content .box-title {
    line-height: 2rem;
    font-size: 2.4rem;
    font-family: Impact;
    font-weight: 900;

    font-family: "Bookman Old Style";
    color: #F6672E;
}
.hero-overlay .box .box-blurb {
    display: none;
    margin-top: 2%;
    


}


a.box:hover {
    background: #212C38;

}



a.box:hover .box-content {
    bottom: auto;
    top: 15%;
    color: #fff;
  
    
}

a.box:hover .box-title {
    color: #000;
    font-weight: 900;
    display: none;
}
a.box:hover .box-blurb{
    display: block;
  
    color: #FFB200;
    font-family: "Bookman Old Style";
    font-size: .8em;
    line-height: 1.3;
    font-weight: 400;
  
}


.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.description{
    position:absolute;
    bottom: 80%;
    top: 15%; 
    text-align: center;
    width: 100%;
    font-family: "Bookman Old Style";
    color: #F6672E;

}
.description_content{
    padding-top:1px;
    margin:0px;
    font-weight: 500;
    font-size: 3.5rem;

}


/*********************************************** CSS for Login PAGE ************************************************/

.login-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 800px);
  grid-gap: 5px;
  background-color: #fff;
  color: #444;

   
}

.login-box {
  background-color: #000;
  
  
  font-size: 150%;
}

.login-a {
    grid-column: 1 / -1;
    grid-row: 1;
}




  @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
* {
  margin: 0;
  padding: 0; }

/*a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #4FDA8C; }*/

/*input {
  font: 16px/26px "Raleway", sans-serif; }

body {
  color: #666;
  background-color: #f1f2f2;
  font: 20px "Raleway", sans-serif; 
}*/

.form-wrap {
  background-color: #fff;
  width: 400px;
  margin: 3em auto; }

  .form-wrap .tabs {
    overflow: hidden; }

    .form-wrap .tabs h3 {
      float: left;
      width: 50%; }


      .form-wrap .tabs h3 a {
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: #e6e7e8;
        display: block;
        color: #666; 
}


   .form-wrap .tabs h3 a.active {
          background-color: #fff; }


  .form-wrap .tabs-content {
    padding: 1.9em; }


    .form-wrap .tabs-content div[id$="tab-content"] {
      display: none; }


    .form-wrap .tabs-content .active {
      display: block !important; }


  .form-wrap form .input {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%; }

  .form-wrap form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase; }
    .form-wrap form .button:hover {
      background-color: #444;
      color: white; }


  .form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em; }


    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
  .form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
    .form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px; }
    .form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }


  .form-wrap .help-text {
    margin-top: .6em; }
    .form-wrap .help-text p {
      text-align: center;
      font-size: 14px; }



/*********************************************** CSS for About PAGE ************************************************/


.about-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 800px);
  /*background-color: #fff;
  color: #444;*/

   
}
.about-box {
  background-color: #212C38;
  font-size: 150%;
}

.about-a {
    grid-column: 1 / -1;
    grid-row: 1;

    /*Creating sub-grid for content*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);


}
.about-sub-box {
  background-color: #212C38;
  color: white;
  font-family: Impact;
}

.about-sub-a {
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 0 15%;
    font-size: 150%;
    font-family: "Bookman Old Style";
    /*border-bottom: 2px solid #444;*/
    letter-spacing: 2px;
}
.about{
    padding-top: 100px;
    font-family: Impact;
    color: #F6672E;
    font-family: "Bookman Old Style";

}

.about-sub-b{
    grid-column: 1/-1;
    grid-row:2/ -1;
    margin: 0 15%;
    font-size: 1.5rem;
    font-family: "Bookman Old Style";
    letter-spacing: 2px;
}


/*********************************************** CSS for Resource Info PAGE ************************************************/


.resource-info-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 800px);

  background-color: #212C38;
  color: #444;

   
}
.resource-info-box {
  background-color: #212C38;
  font-size: 150%;

}

.resource-info-a {
    grid-column: 1 / -1;
    grid-row: 1;


    /*Creating sub-grid for content*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


}

.resource-info-sub-box {
  background-color: #212C38;
  color: white;
  font-family: Impact;
  
}

.resource-info-sub-a {
    grid-column: 1/-1;
    grid-row: 1;
    background-color: white;
    

    padding-top: 10%;
    font-size: 100%;
    border-bottom: 1px solid #fff;
}
.resource-info-sub-b{
    grid-column: 1;
    grid-row: 2/-1;
    border-right: 1px solid white;
}

.resource-info-sub-c{

    grid-column:2/-1;
    grid-row: 2/-1;
    background-color: #212C38;



    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);

}

.resource-info-sub-c-textbox{

    grid-column:1/-1;
    grid-row: 1 /span 2;
    background-color: #212C38;


}

.resource-info-sub-d-textbox{

    grid-column:1/-1;
    grid-row: 3;
    background-color: #212C38;


}


.rating_space{
  padding-left: 5%;
}

.space{
  padding: 2% 5%;
}




.header_text{
    font-family: Impact;
    padding: 2% 5%;
}

.text_size{
    font-size: 1.3rem;
}

.text_white{
  color: #fff;
}

.hr_padding{
    margin: 0 5%;
    
}

.hr_color{
    display: block;
    height: 1px;
    border-top: 1px solid #B7AEAC;
 
    
}



@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  padding: 2% 2%; 
  font-size: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}

/*********************************************** CSS for Resource ADD PAGE ************************************************/





.resource-add-grid {



  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: repeat(4, 200px);   

}



.resource-add-box-a {

  background-color: #FFFFFF;

 

}



.resource-add-a {

    grid-column: 1 / -1;

    grid-row: 1;

}



.resource-add-box-b {

    background-color: #212C38;

  }



.resource-add-b{

    grid-column: 1/-1;

    grid-row: 2/-1;

    border-right: 1px solid white;

}





.rating_space{

  padding-left: 5%;

}



.space{

  padding: 1% 5%;

}







.text_black{

    color: #000;

    font-size: 5rem;

    font-weight: 100;

  }





.header_space{

    margin-bottom: 20%;

    padding: 7% 3%;

  
    
   
    
    text-align: center;
 
    

}

/*.text_black{
  color: #000;
  font-size: 2.5rem;
  font-weight: 100;
}
.header_space{
    margin-bottom: 20%;
    padding: 2% 5%;
}*/






.source_input{
  width: 250px;
  height: 50px;
  margin: 2% 5%;

}

.source_input_description{
  width: 600px;
  height: 200px;
  margin: 2% 5%;

}


.description_input{
  width: 50rem;
  height: 300px;
  margin: 2% 5%;
}


.rating_input{
  margin: 2% 5%;
}





/*********************************************** CSS for Resource LIST PAGE ************************************************/





.resouce-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 800px);
  /*background-color: #fff;
  color: #444;*/

   
}
.resouce-box {
  background-color: #212C38;
  font-size: 150%;
}

.resource-a {
    grid-column: 1 / -1;
    grid-row: 1;

    /*Creating sub-grid for content*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);


}
.resource-sub-box {
  background-color: #212C38;
  color: white;
  font-family: Impact;
}

.resource-sub-a {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0 5%;
    font-size: 150%;
    /*border-bottom: 2px solid #444;*/
}
.resource{
    padding-top: 100px;
    font-family: "Bookman Old Style";
    color: #F6672E;

}





.cell_width{
    max-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  
/* 
.title_width{
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */



.resource_Angular{
    font-family: "Bookman Old Style";
    font-style: italic;
    font-weight: 100;
    color: #F6672E;

}

.row_header{
    font-family: "Bookman Old Style";
    font-weight: 100;
    color: #F6672E;
}

.row_data{
    font-family: "Bookman Old Style";
    font-weight: 100;
    color: #fff;
    width: 20px;
   
    text-overflow: ellipsis; 
}

.resource-sub-b{
    grid-column: 1/-1;
    grid-row:2/ -1;
    padding: 0 5%;
    font-size: 1.5rem;

}


.resource-table {
  background: #34495E;
  color: #fff;
  width: 100%;
  border-radius: .4em;
  overflow: hidden;
   margin: 1em 0;
  min-width: 300px;
  display: table;
}
.resource-table tr {
  border-color: #46637f;
}
.resource-table th, .resource-table td {
  margin: .5em 1em;
}
.resource-table th, .resource-table td:before {
  color: #F6672E;
}
.resource-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


.resource-table td:first-child {
  padding-top: .5em;
}
.resource-table td:last-child {
  padding-bottom: .5em;
}
.resource-table th, .resource-table td {
  text-align: left;
}


.resource-table td:before {
  display: none;
}





/*Code for anything bigger than this width*/

.resource-table th, .resource-table td {
    display: table-cell;
    padding: .8em .5em; 
}



.lineElements{
  display: inline-block;
}

.button_space {
   margin-left: 70%;
}

.uk_button{
  background-color: #FFB200;
}


.white{
  color: white;
  font-family: "Bookman Old Style";
  font-style: italic;
  font-weight: 100;
  letter-spacing: .4px;

}

.hi-icon:hover{
    color: #F6672E;
}


header{
  text-align:right;
  padding:10px;
  margin-bottom:10px;
  border-radius: .4em;
  background-color:#34495E;
}

header a{
  font-size:20px;
  color:#FFFFFF;
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:10px;
  text-align:center;
  display:inline-block;
}

