extends layout

block content
  .about-grid
      .about-box.about-a 
          .about-sub-box.about-sub-a
               h1.about= about_body.header
               hr.hr_color
          .about-sub-box.about-sub-b
               p #{about_body.body_section_A}
               br
               p #{about_body.body_section_B}