extends layout

block content
 .home-grid-1
   .box.a
     .hero
       .embed-container.phablet-up
         
         |             
         .description
           p.description_content BOOKSHELFF
       |         
       span.phablet-up
            .hero-overlay.center-v
              a.box.responsive-height(href='/resource')               
                .border
                  .responsive-height-content
                    .box-content
                      h1.box-title.white_text
                        | Simplifying
                      |                     
                      p.box-blurb Simplifying Resource Collection 
              |             
              a.box.responsive-height(href='/resource')
                .border
                  .responsive-height-content
                    .box-content
                      h1.box-title.white_text
                        | Transforming 
                      |                     
                      p.box-blurb Transforming Research Organization 
              |
              a.box.responsive-height(href='/resource')
                .border
                  .responsive-height-content
                    .box-content
                      h1.box-title.white_text
                        | Innovating
                        
                      |                     
                      p.box-blurb Innovating Collaborative Research
   