extends layout

block content
 .section.padding-top
    .hero-image
      #bookcaseletter.hero-text.img-fluid
        h1.display-3(style='color:black') Welcome To Barnabas' Book Case.
        p.h4 
      #bookcasebutton.hero-button
        a(href='/resource')
          button.button(style='color:black') View Shelf