extends layout

include _includes/sharedHTMLfunctions

block content
    a(href='/resource/', style='color:white')
        span.hi-icon.hi-icon-arrow
            i.fa.fa-arrow-left.fa-2x
    a(href='/resource/update/'+ sourceDetails.Id, style='color: white')
        span.icon_font.spacing.hi-icon.hi-icon-info
            i.fa.fa-pencil-square-o.fa-2x
    form.form-sign
        if(error == 'val')
            h1.title_orange.alert(role='alert') All Fields required, please try again.

        .text-center.mb-4
            img.mb-4(src='https://getbootstrap.com/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
            h1.h3.mb-3.font-weight-normal Add Book
        
        .form
            .form-group.row
                label.col-2.col-form-label(for='title') Title
                .col-10
                    p #{sourceDetails.Title}
            hr(size='10')
            .form-group.row
                label.col-2.col-form-label(for='category') Category
                .col-10
                     p #{sourceDetails.Category}
            hr(size='10')
            .form-group.row
                label.col-2.col-form-label(for='example-email-input') Email
                .col-10
                    p #{sourceDetails.Type}

            hr(size='10')
            .form-group.row
                label.col-2.col-form-label(for='rating') Rating
                .col-10
                    +outputRating(sourceDetails.Rating)
            
            hr(size='10')      
            .form-group.row
                label.col-2.col-form-label(for='description') Description
                .col-10
                     p #{sourceDetails.Description}

